.banner-container{
    background-color: #242121;
}
.btn-media{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    color: #19ce67;
    border: none;
    background:transparent;
    outline: none;
    animation: media 1s  infinite;
}

@keyframes media {
    to{
        box-shadow: 0 0 3px 5px #05fb701f;
        transform: scale(1.1);
    }
}
.image-aniamtion{
    animation-name: doll;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes doll {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(50px);
    }
}